{% extends 'member/member.html' %}

{% block div %}
	<div class="row">
	<img src="{{ user.avatar }}" class="img-circle center-block" height="200" width="200"  />
	</div>

	<div class="row">
		<h1 class="text-center row">{{ user.username }}</h1>
	</div>
	<br>
				
	<div class="row">
		<h2 class="text-center row">Signature ： {{ user.signature }}</h2>
	</div>

	<div class="row">
		<h2 class="text-center row">Email ： {{ user.email }}</h2>
	</div>

	<div class="row">
		<h2 class="text-center row">Real-Name ： {{ user.realname }}</h2>
	</div>

	<div class="row">
		<h2 class="text-center row">Phone-number ： {{ user.phone }}</h2>
	</div>
	<div class="row">
		<h2 class="text-center row">Address ： {{ user.address }}</h2>
	</div>


{% endblock %}