{% extends 'admin/admin.html' %}

{% block div %}


	<div class="text-center">
      <h2 class="User Log">Admin Log</h2>
    </div>
    <br>
	  <div class="table-responsive">
	    <table class="table table-striped">
	      <thead>
	        <tr>
	          <th>Login Id</th>
	          <th>Login Name</th>
	          <th>Login Ip</th>
	          <th>Login Time</th>
	        </tr>
	      </thead>
	      {% for adminlog in adminlogs %}
	      <tbody>
	        <tr>
	          <td>{{ loop.index }}</td>
	          <td>{{ adminlog.name }}</td>
	          <td>{{ adminlog.ip }}</td>
	          <td>{{ adminlog.addtime }}</td>
	        </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>


{% endblock %}