{% extends 'admin/admin.html' %}

{% block div %}

	<div class="row">
		<h1 class="text-center row">{{ admin.username }}</h1>
	</div>

	<div class="col-lg-8 col-lg-offset-2">
	{% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
	<form method="POST">

		<div class="row">
			<h3 class="">Old Password : </h3>
			<input type="password" name="oldpassword" class="form-control " value="">
		</div>	
		<div class="row">
			<h3 class="">New Password : </h3>
			<input type="password" name="newpassword" class="form-control " value="">
		</div>

		<div class="row">
			<h3 class="">Reapte Password : </h3>
			<input type="password" name="password_confirm" class="form-control " value="">
		</div>

		<br>
		<button class="btn btn-lg btn-block btn-primary" type="submit" role="button">Change Password</button>
		</div>
	</form>

{% endblock %}
