<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>	
</head>

<nav class="navbar navbar-collapse ">
	<ul class="nav nav-pills navbar-right">
		<li><a href="{{ url_for('blog.index') }}">Index</a>
		{% if g.user %}
			<li><a href="{{ url_for('member.index') }}">User Home</a>
			<li><a href="{{ url_for('member.create') }}">Create Article</a>
			<li><a href="{{ url_for('member.logout') }}">Logout</a>
		{% else %}
			<li><a href="{{ url_for('member.register') }}">Register</a>
			<li><a href="{{ url_for('member.login') }}">Login</a>
		{% endif %}
	</ul>	
</nav>

<body>
	{% block body %}{% endblock %}

</body>